kbd{
    padding: .3rem
}

table{
    font-size: smaller;
}

.caption, caption{
    font-size: small;
    text-align: left;
  }
  

  /* to hide copy-pasted revealjs speaker notes */
.notes{
    display: none;
  }